In [11]:
import json
import os
import mysql.connector
import pandas as pd
import re

# --- Database Connection Configuration ---
DB_CONFIG = {
    'host': 'localhost',
    'user': 'root', 
    'password': 'sandeep', 
    'database': 'phonepe_pulse_db'
}

In [12]:
PULSE_DATA_BASE_PATH = r'C:\Users\hanum\OneDrive\Desktop\Labmentix\week6\data'

def connect_db():
    """Establishes a database connection."""
    try:
        connection = mysql.connector.connect(**DB_CONFIG)
        if connection.is_connected():
            print("Successfully connected to MySQL database!")
        return connection
    except mysql.connector.Error as err:
        print(f"Error connecting to MySQL: {err}")
        return None

In [13]:

def execute_sql_query(query):

    connection = None
    try:
        connection = mysql.connector.connect(**DB_CONFIG)
        if connection.is_connected():
            cursor = connection.cursor(dictionary=True) # Fetch results as dictionaries
            cursor.execute(query)
            results = cursor.fetchall()
            
            if results:
                return pd.DataFrame(results)
            else:
                return pd.DataFrame() # Return empty DataFrame if no results
    except mysql.connector.Error as err:
        print(f"Error executing query: {err}\nQuery: {query.strip()[:100]}...") # Show first 100 chars of query
    except Exception as e:
        print(f"An unexpected error occurred: {e}\nQuery: {query.strip()[:100]}...")
    finally:
        if connection and connection.is_connected():
            if 'cursor' in locals() and cursor is not None:
                cursor.close()
            connection.close()
    return pd.DataFrame() # Return empty DataFrame on error

In [14]:
def load_and_execute_queries_from_file(sql_filepath):
   
    if not os.path.exists(sql_filepath):
        print(f"Error: SQL file not found at '{sql_filepath}'")
        return

    with open(sql_filepath, 'r', encoding='utf-8') as f:
        sql_script = f.read()

    # Split the script into individual queries using semicolon as a delimiter
    # This regex handles comments and ensures proper splitting.
    cleaned_script = re.sub(r'--.*$', '', sql_script, flags=re.MULTILINE) # Remove single-line comments
    cleaned_script = re.sub(r'/\*.*?\*/', '', cleaned_script, flags=re.DOTALL) # Remove multi-line comments
    queries = [q.strip() for q in cleaned_script.split(';') if q.strip()]

    print(f"Found {len(queries)} queries in '{sql_filepath}'. Executing them one by one...\n")

    for i, query in enumerate(queries):
        print(f"--- Executing Query {i+1} ---")
        print(f"Query:\n{query.strip()}\n")
        
        df_result = execute_sql_query(query)
        
        if not df_result.empty:
            print("Query Result:")
            print(df_result)
        else:
            print("No results or an error occurred for this query.")
        print("-" * 50 + "\n") # Separator for readability

In [39]:
# --- Main execution block ---
if __name__ == "__main__":
    sql_file = "phonepe_analysis_queries.sql" # Name of your SQL file
    load_and_execute_queries_from_file(sql_file)
    print("All queries executed.")

Found 19 queries in 'phonepe_analysis_queries.sql'. Executing them one by one...

--- Executing Query 1 ---
Query:
SELECT
    transaction_type,
    SUM(transaction_count) AS total_transactions,
    SUM(transaction_amount) AS total_transaction_amount
FROM Aggregated_transaction
GROUP BY transaction_type
ORDER BY total_transaction_amount DESC

Query Result:
           transaction_type total_transactions total_transaction_amount
0     Peer-to-peer payments        85032446653       266527358971212.40
1         Merchant payments       130238755487        65339877074733.18
2  Recharge & bill payments        19596755603        13338759360277.80
3                    Others          262050188          174280661976.44
4        Financial Services          154208943          142018767186.49
--------------------------------------------------

--- Executing Query 2 ---
Query:
SELECT
    year,
    quarter,
    SUM(transaction_count) AS quarterly_transactions,
    SUM(transaction_amount) AS quarterly_amount
FROM Aggregated_transaction
WHERE state = 'maharashtra' AND transaction_type = 'Recharge & bill payments'
GROUP BY year, quarter
ORDER BY year, quarter

Query Result:
    year  quarter quarterly_transactions quarterly_amount
0   2018        1                9670237    2283567431.22
1   2018        2               12384216    3725800358.68
2   2018        3               14371791    4547486090.19
3   2018        4               18071025    5860865070.47
4   2019        1               24540041    8256500586.65
5   2019        2               29395661   12197234771.43
6   2019        3               34309301   15471698543.74
7   2019        4               40705998   17794666215.04
8   2020        1               50199498   21603565070.43
9   2020        2               60856480   23112343247.42
10  2020        3               58082283   27915727882.59
11  2020        4               64556682   31556917821.78
12  2021        1               76389103   40057211827.16
13  2021        2               96271138   43154405548.45
14  2021        3              103943973   50242023586.06
15  2021        4              105990417   58087950922.44
16  2022        1              108896881   64507860103.55
17  2022        2              124280427   75110969246.16
18  2022        3              124545840   79360150487.37
19  2022        4              126118544   83576414221.03
20  2023        1              139414546  104828264973.00
21  2023        2              151613474  112846643294.00
22  2023        3              156785138  120947991569.00
23  2023        4              155965094  133821812867.00
24  2024        1              168431872  143453128973.00
25  2024        2              173148051  142150478979.00
26  2024        3              177213655  149372864990.00
27  2024        4              173698536  149455601195.00
--------------------------------------------------

--- Executing Query 3 ---
Query:
SELECT
    state,
    SUM(transaction_amount) AS total_transaction_amount
FROM Map_transaction
WHERE year = 2022
GROUP BY state
ORDER BY total_transaction_amount DESC
LIMIT 5

Query Result:
            state total_transaction_amount
0       telangana         9306631143014.26
1     maharashtra         7845721683148.68
2       karnataka         7004230457883.75
3  andhra-pradesh         5583977087511.61
4       rajasthan         4870329655297.45
--------------------------------------------------

--- Executing Query 4 ---
Query:
SELECT
    brand_name,
    SUM(registered_users) AS total_registered_users,
    SUM(app_opens) AS total_app_opens
FROM users_by_device, Aggregated_user
GROUP BY brand_name
ORDER BY total_registered_users DESC

Query Result:
    brand_name total_registered_users  total_app_opens
0         Oppo          5424888477096  246200350754736
1       Others          5424888477096  246200350754736
2       Realme          5424888477096  246200350754736
3      Samsung          5424888477096  246200350754736
4         Vivo          5424888477096  246200350754736
5       Xiaomi          5424888477096  246200350754736
6     Motorola          5096913193350  231315689026100
7        Apple          4866444075042  220856197000572
8       Huawei          4494147807006  203960094497796
9      OnePlus          4104123145254  186259415685364
10      Lenovo          3962295995526  179822805208116
11    Micromax          1311901134984   59538646914544
12      Gionee          1090296213534   49481443043844
13        Asus           806641914078   36608222089348
14       Tecno           673678961208   30573899766928
15     Infinix           257061708882   11666356490012
16  HMD Global           230469118308   10459492025528
17        Lava           203876527734    9252627561044
18         Lyf            17728393716     804576309656
19     COOLPAD             8864196858     402288154828
--------------------------------------------------

--- Executing Query 5 ---
Query:
SELECT
    ud.brand_name,
    SUM(ud.count) AS total_users_by_brand
FROM users_by_device AS ud
WHERE ud.state = 'karnataka' AND ud.year = 2021
GROUP BY ud.brand_name
ORDER BY total_users_by_brand DESC

Query Result:
   brand_name total_users_by_brand
0      Xiaomi             27020609
1        Vivo             22204039
2     Samsung             20607023
3        Oppo             12906299
4      Others              6350816
5      Realme              4943760
6       Apple              3927261
7     OnePlus              3455641
8    Motorola              2504697
9      Huawei              1681006
10     Lenovo              1319571
--------------------------------------------------

--- Executing Query 6 ---
Query:
SELECT
    year,
    quarter,
    SUM(total_count) AS total_premium_count,
    SUM(total_amount) AS total_premium_amount
FROM
    (
        SELECT
            year,
            quarter,
            count AS total_count,
            amount AS total_amount
        FROM top_insurance_districts_data

        UNION ALL


        SELECT
            year,
            quarter,
            count AS total_count,
            amount AS total_amount
        FROM top_insurance_pincodes_data
    ) AS combined_data
GROUP BY year, quarter
ORDER BY year ASC, quarter ASC

Query Result:
    year  quarter total_premium_count total_premium_amount
0   2020        2              197709          34508904.00
1   2020        3              326647          80960319.00
2   2020        4              219507         153359915.00
3   2021        1              281925         184742737.00
4   2021        2              323108         255005244.00
5   2021        3              342725         302379130.00
6   2021        4              489288         582205352.00
7   2022        1              577560         786825295.00
8   2022        2              593846         771192931.00
9   2022        3              753980         947538309.00
10  2022        4              966335        1289872757.00
11  2023        1              879776        1272386134.00
12  2023        2              853872        1231954960.00
13  2023        3              963271        1316211872.00
14  2023        4             1078955        1667791632.00
15  2024        1             1139491        1713543423.00
16  2024        2              995544        1572617237.00
17  2024        3             1097080        1715973895.00
18  2024        4             1308681        2010306898.00
--------------------------------------------------

--- Executing Query 7 ---
Query:
SELECT
    state,
    SUM(total_amount) AS total_premium_amount
FROM
    (
        SELECT
            state,
            amount AS total_amount
        FROM top_insurance_districts_data
        WHERE (year, quarter) = (SELECT MAX(year), MAX(quarter) FROM top_insurance_districts_data WHERE year = (SELECT MAX(year) FROM top_insurance_districts_data))

        UNION ALL


        SELECT
            state,
            amount AS total_amount
        FROM top_insurance_pincodes_data
        WHERE (year, quarter) = (SELECT MAX(year), MAX(quarter) FROM top_insurance_pincodes_data WHERE year = (SELECT MAX(year) FROM top_insurance_pincodes_data))
    ) AS combined_latest_data
GROUP BY state
ORDER BY total_premium_amount DESC
LIMIT 5

Query Result:
         state total_premium_amount
0    karnataka         280517226.00
1  maharashtra         220172620.00
2   tamil-nadu         139026607.00
3       kerala         134753728.00
4    telangana         130336531.00
--------------------------------------------------

--- Executing Query 8 ---
Query:
SELECT
    t1.state,
    SUM(t1.transaction_amount) AS total_amount_2021,
    SUM(t2.transaction_amount) AS total_amount_2022,
    (SUM(t2.transaction_amount) - SUM(t1.transaction_amount)) AS amount_growth
FROM Map_transaction t1
JOIN Map_transaction t2 ON t1.state = t2.state AND t1.quarter = t2.quarter
WHERE t1.year = 2021 AND t2.year = 2022
GROUP BY t1.state
ORDER BY amount_growth DESC
LIMIT 10

Query Result:
            state   total_amount_2021   total_amount_2022       amount_growth
0   uttar-pradesh  165707391607209.00  333629040712903.50  167921649105694.50
1       telangana  147489042117034.20  307118827719470.58  159629785602436.38
2     maharashtra  155506254698624.04  282445980593352.48  126939725894728.44
3  madhya-pradesh  100377410571047.48  205431107893761.88  105053697322714.40
4       karnataka  123047657164497.60  210126913736512.50   87079256572014.90
5       rajasthan   88032156099152.10  160720878624815.85   72688722525663.75
6           bihar   59735554636693.62  117546607903340.00   57811053266646.38
7      tamil-nadu   48880210140311.15   89188234238016.16   40308024097705.01
8     west-bengal   30982083807212.10   61928129625303.37   30946045818091.27
9          odisha   34448808668658.60   65340748379532.30   30891939710873.70
--------------------------------------------------

--- Executing Query 9 ---
Query:
SELECT
    state,
    SUM(transaction_count) AS total_transaction_volume,
    SUM(transaction_amount) AS total_transaction_value
FROM Map_transaction
WHERE year = (SELECT MAX(year) FROM Map_transaction)
  AND quarter = (SELECT MAX(quarter) FROM Map_transaction WHERE year = (SELECT MAX(year) FROM Map_transaction))
GROUP BY state
ORDER BY total_transaction_value DESC

Query Result:
                                 state total_transaction_volume  \
0                            karnataka               3455056424
1                          maharashtra               3634231839
2                            telangana               2822451603
3                       andhra-pradesh               2296445544
4                        uttar-pradesh               2544890265
5                            rajasthan               2043469547
6                                bihar               1559667675
7                       madhya-pradesh               1685401835
8                          west-bengal               1227135682
9                               odisha               1143097568
10                          tamil-nadu                820423888
11                             gujarat                827374966
12                               delhi                910543082
13                             haryana                841394290
14                           jharkhand                586904686
15                        chhattisgarh                500655404
16                               assam                332441531
17                              punjab                199509220
18                              kerala                233112441
19                         uttarakhand                171136132
20                     jammu-&-kashmir                126261217
21                    himachal-pradesh                 53798398
22                                 goa                 46131536
23                   arunachal-pradesh                 26793457
24  dadra-&-nagar-haveli-&-daman-&-diu                 28463700
25                             tripura                 15945159
26                          chandigarh                 18528444
27                          puducherry                 16559677
28                           meghalaya                 14166380
29                            nagaland                  7921552
30                              sikkim                  8916870
31                             manipur                  5750423
32                              ladakh                  5711284
33           andaman-&-nicobar-islands                  6063900
34                             mizoram                  2702443
35                         lakshadweep                   197777

   total_transaction_value
0         4151819803822.00
1         4151028450887.00
2         3859050535418.00
3         3452015568966.00
4         3214106522459.00
5         2793049371408.00
6         2098927476047.00
7         2003305068845.00
8         1810100029406.00
9         1305457593239.00
10        1087632875606.00
11        1076014501422.00
12        1057060485903.00
13        1031959359354.00
14         704010501034.00
15         576828444625.00
16         382786405959.00
17         289125652032.00
18         273639970566.00
19         194908790959.00
20         160950980732.00
21          63736996234.00
22          56562589543.00
23          35079886873.00
24          23945221461.00
25          22409905268.00
26          20501385889.00
27          19965392547.00
28          19674927433.00
29          13959098676.00
30          12641101398.00
31          12061708556.00
32          10854417654.00
33           8920944773.00
34           4461162922.00
35            247756681.00
--------------------------------------------------

--- Executing Query 10 ---
Query:
SELECT
    district_name,
    SUM(registered_users) AS total_registered_users
FROM top_user_districts_data
WHERE
    (year, quarter) = (
        SELECT
            year,
            quarter
        FROM top_user_districts_data
        ORDER BY year DESC, quarter DESC
        LIMIT 1
    )
GROUP BY district_name
ORDER BY total_registered_users DESC
LIMIT 10

Query Result:
                district_name total_registered_users
0             bengaluru urban               18101416
1                        pune               12734314
2                       thane                7300941
3             mumbai suburban                6875379
4                  rangareddy                5988320
5                   hyderabad                5916910
6                   ahmedabad                5702922
7                     chennai                5541760
8                      jaipur                5371681
9  north twenty four parganas                5085095
--------------------------------------------------

--- Executing Query 11 ---
Query:
SELECT
    state,
    SUM(registered_users) AS total_registered_users,
    SUM(app_opens) AS total_app_opens,
    SUM(app_opens) / NULLIF(SUM(registered_users), 0) AS avg_app_opens_per_user
FROM Aggregated_user
GROUP BY state
ORDER BY avg_app_opens_per_user DESC

Query Result:
                                 state total_registered_users total_app_opens  \
0                            meghalaya                6185282      1078448726
1                    arunachal-pradesh                8046446      1117277209
2                              mizoram                2701061       368884295
3                               ladakh                2271369       294111791
4            andaman-&-nicobar-islands                1842465       170043693
5                            rajasthan              555774493     48507630334
6                                assam              111842317      9436508709
7                       madhya-pradesh              470663624     39708500796
8                         chhattisgarh              142291017     11190410814
9                             nagaland                6297675       479729729
10                     jammu-&-kashmir               40162530      2709558059
11                           jharkhand              169283936     10907909802
12                              sikkim                4868004       286970076
13                             manipur                9389131       498985094
14                           karnataka              733674236     38344879267
15                              odisha              290005345     14493923288
16                             tripura               13862627       671717197
17                             gujarat              459154666     20780416980
18                      andhra-pradesh              556747126     24728024309
19                           telangana              524620520     23197773412
20                    himachal-pradesh               49799825      2197083175
21                         maharashtra             1140138243     49616423987
22                         uttarakhand               86930925      3413394921
23                         lakshadweep                 142697         5048344
24                       uttar-pradesh              942334146     33236833684
25                          tamil-nadu              506486772     16992199376
26                               bihar              446115282     13608259251
27                                 goa               17437286       528329279
28                              punjab              171432251      5142232156
29                             haryana              306022101      8259126213
30                         west-bengal              524964358     10943818827
31  dadra-&-nagar-haveli-&-daman-&-diu               10080195       207734903
32                              kerala              204758075      3968667568
33                          puducherry               10407148       177962415
34                               delhi              324608095      4847106329
35                          chandigarh               12855589       172230820

   avg_app_opens_per_user
0                174.3572
1                138.8535
2                136.5701
3                129.4866
4                 92.2914
5                 87.2793
6                 84.3733
7                 84.3670
8                 78.6445
9                 76.1757
10                67.4648
11                64.4356
12                58.9503
13                53.1450
14                52.2642
15                49.9781
16                48.4553
17                45.2580
18                44.4152
19                44.2182
20                44.1183
21                43.5179
22                39.2656
23                35.3781
24                35.2708
25                33.5491
26                30.5039
27                30.2988
28                29.9957
29                26.9887
30                20.8468
31                20.6082
32                19.3822
33                17.1000
34                14.9322
35                13.3973
--------------------------------------------------

--- Executing Query 12 ---
Query:
SELECT
    district,
    SUM(premium_count) AS total_premium_count
FROM Map_insurance
WHERE year = 2022 AND quarter = 3
GROUP BY district
ORDER BY total_premium_count DESC

Query Result:
                     district total_premium_count
0    bengaluru urban district               64593
1               pune district               19899
2              thane district               13402
3            chennai district               12059
4         rangareddy district               11801
..                        ...                 ...
715         shi yomi district                   1
716  upper subansiri district                   1
717     muzaffarabad district                   1
718         longleng district                   1
719        zunheboto district                   1

[720 rows x 2 columns]
--------------------------------------------------

--- Executing Query 13 ---
Query:
SELECT
    y1.state,
    y1.total_premium_2021,
    y2.total_premium_2022,